header {
  padding: 0.5rem 0;
  background: var(--dk-grey-1);
  color: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .logo {
    width: 7rem;
    height: 7rem;
  }
}

.menu-btn {
  margin-left: auto;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
  color: var(--white);
  transition: background 4ms ease-out;

  svg {
    width: 2.25rem;
    height: 2.25rem;
    fill: currentColor;
  }

  &:hover {
    background: var(--dk-grey-1);
  }

  .menu-icon {
    transform-origin: center;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.4s ease-in-out, opacity 0.2s;
  }

  .close-icon {
    transform-origin: center;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.3s ease-in-out, opacity 0.5s;
  }

  &.open {
    .menu-icon {
      opacity: 0;
      transform: scale(0);
    }

    .close-icon {
      opacity: 1;
      transform: scale(1);
    }
  }
}

nav {
  display: none;

  &.open {
    display: block;
    flex-grow: 1;
    width: 100%;
  }
  ul {
    display: block;

    li {
      margin: 1rem 0;
    }
  }

  a {
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    color: var(--white);
    text-decoration: none;
    padding: 0.25rem 0;

    &:hover {
      color: var(--primary-lt);
      border-bottom: 1px solid var(--primary-lt);
    }
  }
}

@include min-md {
  .menu-btn {
    display: none;
  }

  nav {
    display: inline-block;
    width: auto;

    &.open {
      width: auto;
      flex-grow: initial;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;

      li:not(:last-of-type) {
        margin-right: 2.5rem;
      }
    }
  }
}
